/* Theme: https://lh3.googleusercontent.com/2tz16tRWvWsNwxg22BmLGDpZ7Pp3SqAg6Zr10WUCbjeEJHFSBzkbb4gwkjIQ5m4rfYoSntR412o7bC7sr8Xi5-gpiciNiQyjssfNWQ=w1064-v0 */

@font-face {
  font-family: CaminoBold;
  src: url('../fonts/ElCamino-Bold.otf');
}

@font-face {
  font-family: CaminoSlim;
  src: url('../fonts/ElCamino-Slim.otf');
}

html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 100vh;
  background-color: #121212;
  color: white;
  overflow-x: hidden;
  font-family: "IBM Plex Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  text-rendering: optimizelegibility;
}

p {
  font-size: 1.3rem;
}

body {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

::selection {
  background: #30475e;
  padding: 5px;
}

button, a.button {
  color: #ececec;
  background-color: #30475e;
  font-family: soleil, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  user-select: none;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* Tables */

table {
  width: 100%;
}

th {
  color: #ececec;
  background-color: #30475e;
  font-family: soleil, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

thead :first-child {
  border-top-left-radius: 10px;
}

thead :last-child {
  border-top-right-radius: 10px;
}

td {
  margin: 10px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

tbody tr:nth-child(even) {
  background-color: #28303b;
}

/* Header */

header, main, footer {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

header {
  align-items: center;
  flex-wrap: wrap;
}

header #title h1, header #title h1 a, header #title h1 a:visited, header #title h1 a:active, header #title h1 a:hover {
  margin: 0;
  font-family: CaminoBold, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

/* Navigation bar */

nav a, nav a:visited, nav a:active, nav a:hover {
  padding: 4px;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

/* Article list */

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main li {
  display: block;
}

main .article-title * {
  display: inline-block;
  color: #bb86fc;
  margin-bottom: .3rem;
  font-family: CaminoSlim;
  font-size: 2rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

main .article-title * :hover {
  border-color: #bb86fc;
  transition: border-color .2s ease;
}

main .article-info * {
  font-family: "IBM Plex Mono", monospace;
}

main .article-summary p {
  margin-top: .5rem;
}

/* Paginator */

.paginator {
  display: flex;
  justify-content: center;
}

.paginator * {
  margin: 20px;
  padding: 20px;
  background-color: #222222;
  color: white;
  font-family: "IBM Plex Mono", monospace;
}

/* Footer */

footer {
  display: flex;
  color: #666;
}

footer ::selection {
  background-color: #222831;
}

footer a, footer a:hover, footer a:visited, footer a:active {
  color: #666;
}