{% extends "base.html" %}

{% block content %}
{% for article in articles_page.object_list %}
<li>
  <article>
    <section class="article-title">
      <a href="{{ SITEURL }}/{{ article.url }}">
        <h2>{{ article.title | striptags }}</h2>
      </a>
    </section>

    <section class="article-info">
      <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
      <span> · </span>
      <time>{{ article.readtime_string }}</time>
    </section>

    <section class="article-summary">
      <p>{{ article.summary }}</p>
    </section>
  </article>
</li>
{% endfor %}

{% if DEFAULT_PAGINATION %}
<section class="paginator">
  {% if articles_page.has_previous() %}
  <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">Newer</a>
  {% endif %}
  {% if articles_page.has_next() %}
  <a href="{{ SITEURL }}/{{ articles_next_page.url }}">Older</a>
  {% endif %}
</section>
{% endif %}

{% endblock %}